alabaster==0.7.12
asn1crypto==0.24.0
Babel==2.9.1
certifi==2021.10.8
chardet==4.0.0
cryptography==2.1.4
docutils==0.17.1
enum34==1.1.6
idna==2.10
imagesize==1.4.1
ipaddress==1.0.17
Jinja2==2.11.3
keyring==10.6.0
keyrings.alt==3.0
linecache2==1.0.0
MarkupSafe==1.1.1
numpy==1.16.6
packaging==20.9
pandas==0.24.2
pycrypto==2.6.1
Pygments==2.5.2
pygobject==3.26.1
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2022.1
pyxdg==0.25
requests==2.27.1
SecretStorage==2.3.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==1.8.6
sphinx-rtd-theme==1.0.0
sphinxcontrib-websupport==1.1.2
traceback2==1.4.0
typing==3.10.0.0
unittest2==1.1.0
urllib3==1.26.10